@import 'variables';

.home {
  display: flex;
  flex-direction: column;
  gap: 45px;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    .intro {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      align-items: center;
      .Welcome-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 1.4em;
        color: $text;
        overflow: hidden;
        gap: 15px;
        padding: 15px;
        border-radius: 50px 0 50px 50px;
        .subtitle{
          text-align: center;
        }
        .image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          border: 3px solid $border;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: fill;
            border-radius: 50%;
          }
          span{
            position: absolute;
            width: 85%;
            height: 85%;
            background: $link;
            z-index: 0;
            box-shadow: 0 0 20px 3px $link;
            animation: rotate 3s linear infinite;
          }
          .chakra1{
              animation-delay: -399ms;                                                                                                                                                                  
          }

        }
        .link{
          border-bottom: 1px solid;
          color: $link;
          display: flex;
          gap: 5px;
          &::after{
            content:"⋙";
            font-size: 15px;

          }
        }
      }
      hr {
        background: transparent url(../images/hr.png) center center no-repeat;
        border: none;
        height: 40px;
        width: 100%;
      }
    }

    .members-container{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      justify-content: center;
      height: fit-content;
      padding: 1rem 0;
      .card-container{
        display: flex;
        gap: 0.5rem;
        overflow: scroll;
        position: relative;
        left: -20px;
        width: 110%;
        padding: 1rem;
        &::-webkit-scrollbar{
          display: none;
        }
      }
    }

    .gallery, .members-container{
      .title{
        justify-content: space-between;
        span {
          font-size: 15px;
          color: $link;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          &::after {
            content: "»";
            padding-left: 5px;
            font-size: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      
    }
  }
}


@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(359deg);
  }
}

@media screen and (max-width:768px) {
  .home{
    .gallery{
      .images{
        justify-content: flex-start;
        .image{
          max-width: 210px;
          height: 121px;
        }
      }
    }
  }
}