.members-page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        .member-card{
            max-width: 200px;
        }
    }
}

@media screen and (max-width:768px){
    .card-container{
        .member-card{
            max-width: 150px !important;

        }
    }
}