$primary: rgb(35, 81, 151);
$secondary:#29ffe2;
$text:#fafafa;
$btn-bg: $secondary;
$btn-txt:#fff;
$tertiary:#0b1223;
$link: #ffe83c;
$boxShadow:#00000054;
$border: #f2f2f2;
$parent: rgb(216, 108, 108);
$child: rgb(59, 206, 71);
$grand-child: rgb(76, 226, 226);